/* styles.css */

/* Dark Theme */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* Dark background color */
    background-color: #333;
    /* White text color */
    color: #fff;
}

header {
    /* Slightly darker header background */
    background-color: #222;
    padding: 10px;
}

footer {
    background-color: #222;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    /* Adjust icon size */
    font-size: 24px;
}


/* Slider styles */
.switch {
    height: 50px;
    position: fixed;
    right: 25px;
    top: 25px;
}

.theme-switch {
    display: inline-block;
    position: relative;
    height: 17px;
    width: 30px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    left: 2px;
    content: "";
    height: 13px;
    width: 13px;
    position: absolute;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2b2b2b;
}

input:checked+.slider:before {
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}